<div class="MainPart">
    <div class="Notes">
        <div class="Note1">
            <a href="/Account">
                <div class="Title">Create an account</div>
                <div class="Autor"></div>
                <div class="Text"></div>
            </a>
        </div>
        <div class="Note2">
            <a href="/Notes">
                <div class="Title">Check created sticky notes</div>
                <div class="Autor"></div>
                <div class="Text"></div>
            </a>
        </div>
        <div class="Note3">
            <a href="/Create">
                <div class="Title">Create a sticky note</div>
                <div class="Autor"></div>
                <div class="Text"></div>
            </a>
        </div>
    </div>
</div>
<div class="Footer">
    Created by: Tomasz Ocłoń | 2023
</div>