<div class="MainPart">

    <div class="SubmitButton">
        <a href="/Random">Random Notes</a>
    </div>
    <div class="Selector">
        <div class="UpperPart">
            Recent Notes
        </div>
        <div class="LowerPart">
            <div class="Notes" id="Notes">
                <app-note *ngFor="let note of RecentNotes" [note]="note"/>
            </div>
        </div>
    </div>

    <div class="Selector">
        <div class="UpperPart">
            Best Notes
        </div>
        <div class="LowerPart">
            <div class="Notes" id="Notes2">
              <app-note *ngFor="let note of BestNotes" [note]="note"/>
            </div>
        </div>
    </div>

</div>
