<div class="Note p-2 h-100" [ngStyle]="{'background-color' : note.bgColor}">
  <div class="Title">{{note.title}}</div>
  <div class="Autor">{{note.author}}</div>
  <div class="Text">{{note.text}}</div>
  <div class="Rate">
    <img class="UpVote" #UpVote (click)="ChangeIcon($event.target)" src="../../assets/UpVote.png">
    <span class="RateText" #RateText>{{note.rate}}</span>
    <img class="DownVote" #DownVote (click)="ChangeIcon($event.target)" src="../../assets/DownVote.png">
  </div>
</div>
